.default-style {
    font-family: Arial, sans-serif;
    background-color: white;
    color: purple;
}

.custom-style {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightblue;
    color: darkblue;
}

.login-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px;
}